

// Couleurs principales de Xamaflix
$primary-color: #e50914;     
$secondary-color: #141414;   
$background-color: #1a1a1a;  // Fond cartes
$text-color: #ffffff;        
$text-muted: #b3b3b3;       


$badge-blue: #0066cc;       
$badge-yellow: #ffcc00;      

$font-size-base: 16px;      
$font-size-large: 20px;      
$font-size-small: 14px;      


$spacing-base: 16px;        
$spacing-small: 8px;         
$spacing-large: 32px;        


$font-family: 'Helvetica Neue', Arial, sans-serif;