
@import 'utils/variables';
@import 'utils/mixins';
@import 'vendors/bootstrap-custom';
@import 'base/reset';
@import 'base/typography';
@import 'layout/header';
@import 'layout/hero';
@import 'layout/footer';
@import 'components/navigation';
@import 'components/buttons';
@import 'components/cards';
@import 'components/carousel';
@import 'components/search';
@import 'pages/home';


.scrollbar-custom {
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: $primary-dark;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary-red;
    border-radius: 6px;

    &:hover {
      background: lighten($primary-red, 10%);
    }
  }
}

body {
  @extend .scrollbar-custom;
}